@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed&family=PT+Sans+Narrow&family=PT+Sans&display=swap");

/* Override seems necessary, Next.js/Chakra UI is not caching fonts, this is to avoid font flashing */
body {
  height: 100%;
  padding: 0;
  margin: 0;
  overflow-y: scroll !important;

  font-family: Roboto, sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Condensed", sans-serif !important;
}

/* Override Chakra UI focus color to align with brand color */
@mixin focus-color {
  body.chakra-ui-light & {
    box-shadow: 0 0 5px rgb(72, 187, 120) !important;
  }
  body.chakra-ui-dark & {
    box-shadow: 0 0 5px rgb(72, 187, 120) !important;
  }
}
[data-focus],
*:focus {
  @include focus-color();
  outline: 0 !important;
}
